### Sentiment analysis using Vader: https://github.com/cjhutto/vaderSentiment

In [1]:
import pandas as pd
import pickle
import nltk

# nltk_path = '/home/ubuntu/nltk_data'
# nltk.data.path.insert(0, nltk_path)

In [2]:
with open('location_df.pkl', 'rb') as picklefile:
    df_location_final = pickle.load(picklefile)

In [5]:
import vaderSentiment
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

analyser = SentimentIntensityAnalyzer()

def print_sentiment_scores(tweet):
    snt = analyser.polarity_scores(tweet)
    return snt

In [6]:
df_location_final['sentiments'] = df_location_final.clean.apply(lambda x: print_sentiment_scores(x))

In [7]:
def get_sentiment(row,sent):
    sentiment = row['sentiments'][sent]
    return sentiment

In [8]:
sentiment_keys = ['compound','neg','neu','pos']
for i in sentiment_keys:
    df_location_final[i] = df_location_final.apply(lambda x: get_sentiment(x,i), axis=1)

In [9]:
df_location_final.head(3)

,id,created_at,location,text,screen_name,retweet_count,favorite_count,followers_count,friends_count,hashtags_text,...,city,state,country,county,postal_state,sentiments,compound,neg,neu,pos
1,873599554175860736,Sat Jun 10 17:55:39 +0000 2017,manaus brasil,RT @Adele: Because of it though... I'm treatin...,MirianR88152620,36982,0,2,11,[],...,Manaus,Amazonas,Brazil,Manaus,AM,"{'neg': 0.0, 'neu': 0.894, 'pos': 0.106, 'comp...",0.2263,0.000,0.894,0.106
2,873599531861950464,Sat Jun 10 17:55:33 +0000 2017,manaus brasil,RT @Adele: The piano mics fell on to the piano...,MirianR88152620,37033,0,2,11,[],...,Manaus,Amazonas,Brazil,Manaus,AM,"{'neg': 0.135, 'neu': 0.865, 'pos': 0.0, 'comp...",-0.5574,0.135,0.865,0.000
5,873330450462330880,Sat Jun 10 00:06:19 +0000 2017,miami fl,RT @Adele: HUGE song @tinietempah love it love...,CalvoRicky,2142,0,104596,71,[],...,Miami,Florida,United States,Miami-Dade County,FL,"{'neg': 0.0, 'neu': 0.25, 'pos': 0.75, 'compou...",0.9188,0.000,0.250,0.750